/* Main Template.css *by système Rubis */

/* Main Element */

body{

    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #2A2E2D;

}

/* main header style */

header{

    width: 100%;
    height: 100%;
    background-image: url("../asset/header/BgHeader.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    float: left;

}

/* in the header style */

[data-MainHeaderContent]{


    width: 100%;
    height:100%;
    margin-top: 0px;
    margin-left: 0px;
    float: left;

}

/* header content style */

[data-FrontMainHeader]{

    width: 100%;
    height: 50px;
    background-color:#3A4241;
    opacity: 0.9;
    margin-top: 0px;
    margin-left: 0px;
    float: left;

}

/* back fake content opacity (no-content) style */

[data-FakeBackMainHeaderContent]{

    width: 100%;
    height: calc(100% - 50px);
    background-color: #434A49;
    opacity: 0.4;
    margin-top: 0px;
    margin-left: 0px;
    float: left;

}

/* conpenant back no-opacity (content) style */

[data-ContentBackHeader]{

    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0px;

}